* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    background: #f7f7f5;
}

.top-box {
    width: 100%;
    height: 44px;
    background: #1a1a1ae6;
}

.top-box .head {
    width: 1200px;
    height: 44px;
    margin: 0 auto;
    z-index: 2;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    line-height: 44px;
}

.head .left {
    width: 74px;
    height: 44px;
}

.head .center {
    width: 720px;
    height: 44px;
}

.head .center a {
    color: #fff;
    font-size: 14px;
    white-space: nowrap;
    text-decoration: none;
    padding: 0 22px;
    height: 44px;
}

.top-box .center:nth-child(1) a {
    width: 112px;
}

.top-box .center:nth-child(2) a {
    width: 97px;
}

.top-box .center:nth-child(3) a {
    width: 96px;
}

.top-box .center:nth-child(4) a {
    width: 87px;
}

.top-box .center:nth-child(5) a {
    width: 144px;
}

.top-box .center:nth-child(6) a {
    width: 87px;
}

.top-box .center:nth-child(7) a {
    width: 87px;
}

.head .right {
    width: 112px;
    height: 20px;
    margin-top: 10px;
    overflow: hidden;
}

.right .button:nth-child(1) {
    width: 20px;
    height: 20px;
    line-height: 44px;
    float: left;
    background: url(search.png);
}

.right .button:nth-child(2) {
    width: 20px;
    height: 20px;
    float: right;
    background: url(user.png);
}

.head-box {
    width: 100%;
    height: 163px;
    padding: 30px 0 0 0;
}

.head-list {
    width: 1200px;
    height: 133px;
    margin: 0 auto;
}

.head-list img {
    display: block;
    margin: 0 auto;
    width: 429px;
    height: 65px;
}

.promise {
    width: 1200px;
    height: 68px;
    padding: 30px 0 17px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

.promise a {
    display: inline-block;
    text-decoration: none;
}

.promise .promise-center {
    width: 656px;
    height: 21px;
}

.promise .promise-center a {
    font-size: 12px;
    line-height: 21px;
    color: #6c7880;
    height: 21px;
    margin-left: 38px;
}

.promise .promise-help {
    width: 190px;
    height: 17px;
    overflow: hidden;
}

.promise .promise-help a {
    color: #4c4c4c;
    font-size: 14px;
    line-height: 17px;
    float: left;
    margin-left: 40px;
}

.banner {
    width: 1200px;
    height: 450px;
    margin: 0 auto;
    background: url(20180607110711907344_original.jpg);
    background-size: cover;
    position: relative;
}

.banner .banner-item {
    width: 198px;
    height: 10px;
    margin: 430px auto 0;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    top: -7px;
    bottom: -7px;
}

.banner-item .banner-button:nth-child(1) {
    width: 42px;
    height: 4px;
    background: #fff;
    margin-top: 4px;
}

.banner-item .banner-button:nth-child(2) {
    width: 42px;
    height: 8px;
    background: #fff;
}

.banner-item .banner-button:nth-child(3) {
    width: 42px;
    height: 4px;
    background: #fff;
    margin-top: 4px;
}

.banner-item .banner-button:nth-child(4) {
    width: 42px;
    height: 4px;
    background: #fff;
    margin-top: 4px;
}

.floor-list {
    width: 1200px;
    height: 140px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.floor-list .box-list {
    width: 293px;
    height: 140px;
    border: 1px solid rgba(196, 214, 228, 0.13);
}

.floor-list .box-list:nth-child(1) {
    background: url(20180428104400164455_original.jpg);
    background-size: cover;
}

.floor-list .box-list:nth-child(2) {
    background: url(20180428105522994861_original.jpg);
    background-size: cover;
}

.floor-list .box-list:nth-child(3) {
    background: url(20180604111836883949_original.jpg);
    background-size: cover;
}

.floor-list .box-list:nth-child(4) {
    background: url(20180428105538500264_original.jpg);
    background-size: cover;
}

.subject {
    width: 1200px;
    height: 87px;
    padding: 38px 0 25px;
    color: #333;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
}

.product-list {
    width: 1200px;
    height: 521px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.product {
    width: 394px;
    height: 511px;
    background: #fff;
    border: 1px solid rgba(196, 214, 228, 0.13);
}

.product img {
    display: block;
    width: 230px;
    height: 230px;
    margin: 58px auto 0;
}

.product h1 {
    width: 394px;
    height: 56px;
    padding-top: 28px;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

.product h3 {
    width: 394px;
    height: 83px;
    padding: 11px 0 48px;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
}

.product h2 {
    width: 394px;
    height: 30px;
    color: #f51919;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.product-box .phone-box {
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.phone-item {
    width: 293px;
    height: 380px;
    background: #fff;
    border: 1px solid rgba(196, 214, 228, 0.13);
}

.phone-item:nth-child(1) {
    width: 595px;
    height: 380px;
}

.phone-item img {
    display: block;
    width: 172px;
    height: 172px;
    margin: 43px auto 0;
}

.phone-box .phone-item:nth-child(1) img {
    width: 595px;
    height: 380px;
    margin-top: 0px;
}

.phone-item h1 {
    width: 293px;
    height: 44px;
    padding-top: 19px;
    line-height: 21px;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

.phone-item h3 {
    width: 293px;
    height: 59px;
    padding: 6px 0 29px;
    text-align: center;
    line-height: 24px;
    font-size: 19px;
    font-weight: 400;
}

.phone-item h2 {
    width: 293px;
    height: 30px;
    color: #f51919;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}